*.swp
*.pyc
*.egg-info/
.project
.pydevproject
.vscode/
.coverage
.venv/
.settings/
.mypy_cache/
.dockerignore
.idea/

**/node_modules

zapipsite/db.sqlite3
zapipsite/static/
zapipsite/settings/local.py
